* {
  box-sizing: border-box;
}
:root {
  --background-color: rgb(6, 11, 25);
  --border-color: rgb(255, 255, 255, 0.1);
  --base-white: #ffffff;
}

body {
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0px;
  overflow: hidden;
}

h1, h2, h3, a, p, span {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  color: var(--base-white);
}

a {
  text-decoration: none;
}

nav {
  display: flex;
  width: 100%;
  border-bottom: 1px solid var(--border-color);
}

nav .nav-section {
  padding: 3rem 2rem;
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  border-left: 1px solid var(--border-color);
}

#nav-logo-section,
#nav-link-section {
  flex-basis: calc(100% / 3);
}

#nav-logo-section {
  justify-content: start;
}

#nav-logo-section > svg { 
  width: 32px;
  fill: #FFFFFF;
  color: #FFFFFF;
}

#nav-link-section {
  gap: 6rem;
  display: flex;
}

#nav-social-section,
#nav-contact-section {
  flex-grow: 1;
}

#nav-social-section {
  gap: 3rem;
}

#nav-social-section > svg {
  width: 24px;
  fill: var(--base-white);
}

main {
  flex-grow: 1;
  position: relative;
  overflow: hidden;
}

main > article {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 2fr 1fr;
  position: absolute;
  left: 0px;
  top: 0px;
  transition: transform 400ms ease;
}

main > article[data-status="inactive"] {
  transform: translateX(-100%);
}

main > article[data-status="after"] {
  transform: translateX(50%) scale(0);
}

main > article[data-status="before"] {
  transform: translateX(-50%) scale(0);
}

main > article > .article-section {
  height: 100%;
}

main>article>.article-description-section,
main>article>.article-nav-section {
  border-left: 1px solid var(--border-color);
}

main>article>.article-title-section,
main>article>.article-nav-section {
  border-top: 1px solid var(--border-color);
}

main > article > .article-image-section img {
  max-width: 100%;
  /* height: 100%; */
  object-fit: cover;
  object-position: 100% center;
}

main > article > .article-description-section {
  display: flex;
  align-items: end;
  justify-content: end;
}

main > article > .article-description-section p {
  display: flex;
  padding: 2rem;
  align-items: end;
}

main >article > .article-title-section {
  padding: 2rem;
}

main > article > .article-title-section h2 {
  font-weight: 700;
  font-size: 64px;
  margin: 0 0 0 0;
  text-transform: uppercase;
}

main > article > .article-nav-section {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

main > article > .article-nav-section .nav-section-arrow {
  display: flex;
  align-items: center;
  flex: 1;
  justify-content: center;
  cursor: pointer;
}

main>article>.article-nav-section .nav-section-arrow:first-child {
  border-right: 1px solid var(--border-color);
}

main > article > .article-nav-section .nav-section-arrow svg {
  width: 48px;
  color: var(--base-white);
}